<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- for security - you also have to enable Anonymous in IIS and disable Windows -->
  <system.webServer>
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="?" />
        <add accessType="Allow" users="*" />
      </authorization>
    </security>
  </system.webServer>
  
  <system.web>
    <authorization>
      <allow users="?" />
    </authorization>
  </system.web>

</configuration>
