<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="sqloogleBot" type="Sqloogle.SqloogleBotConfiguration, Sqloogle" />
  </configSections>

  <sqloogleBot searchIndexPath="c:\Sqloogle\SearchIndex\" filePath="">
    <servers>
      <add name="localhost" connectionString="Data Source=localhost;Initial Catalog=master;Persist Security Info=True;User ID=sqloogleBot;Password=password;" />
    </servers>
    <skips>
      <add name="master"></add>
      <add name="model"></add>
      <add name="tempdb"></add>
      <add name="msdb"></add>
      <add name="ReportServer" operator="StartsWith"></add>
      <add name="ManagementDataWarehouse"></add>
      <add name="Bdc_Service_DB_" operator="StartsWith"></add>
      <add name="SharePoint_" operator="StartsWith"></add>
      <add name="WSS_" operator="StartsWith"></add>
    </skips>
  </sqloogleBot>

</configuration>