<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="sqloogleBot" type="Sqloogle.SqloogleBotConfiguration, Sqloogle"/>
    <section name="nlog" type="Sqloogle.Libs.NLog.Config.ConfigSectionHandler, Sqloogle" />
  </configSections>
  
 <sqloogleBot searchIndexPath="c:\Sqloogle\SearchIndex\" filePath="">
    <servers>
      <add name="localhost" connectionString="Data Source=localhost;Initial Catalog=master;Persist Security Info=True;User ID=sqloogleBot;Password=password;" />
    </servers>
    <skips>
      <add name="master"></add>
      <add name="model"></add>
      <add name="tempdb"></add>
      <add name="msdb"></add>
      <add name="ManagementDataWarehouse"></add>
      <add name="ReportServer" operator="StartsWith"></add>
      <add name="Bdc_Service_DB_" operator="StartsWith"></add>
      <add name="SharePoint_" operator="StartsWith"></add>
      <add name="WSS_" operator="StartsWith"></add>
    </skips>
  </sqloogleBot>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="false">
      <target name="file" xsi:type="File" fileName="${basedir}/nlog/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/${logger}.log" layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" />
      <target name="mail" xsi:type="Mail" smtpServer="" from="" subject="SQLoogle Error!" to="" />
      <target name="trace" xsi:type="Trace" layout="${date:format=HH\:mm\:ss} | ${level} | ${logger} | ${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${level} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Warn" writeTo="mail" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings></appSettings>
  
  <connectionStrings></connectionStrings>
 
</configuration>