<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="colorbox" version="1.4.29" targetFramework="net40" />
  <package id="jQuery" version="2.0.3" targetFramework="net40" />
  <package id="knockoutjs" version="3.0.0" targetFramework="net40" />
  <package id="T4Configuration" version="1.0.0" />
</packages>