<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="sqloogleBot" type="Sqloogle.SqloogleBotConfiguration, Sqloogle"/>
  </configSections>

  <sqloogleBot searchIndexPath="Lucene" filePath="">

    <servers>
      <add name="localhost" connectionString="Server=localhost;Database=master;Trusted_Connection=True;"/>
    </servers>

    <skips>
      <add name="master"/>
      <add name="model"/>
      <add name="tempdb"/>
      <add name="msdb"/>
      <add name="Management" operator="StartsWith"/>
      <add name="ReportServer" operator="StartsWith"/>
      <add name="Bdc_Service_DB_" operator="StartsWith"/>
      <add name="SharePoint_" operator="StartsWith"/>
      <add name="WSS_" operator="StartsWith"/>
      <add name="AspNet" operator="StartsWith"/>
      <add name="TEST" operator="StartsWith"/>
      <add name="WSS" operator="StartsWith"/>
    </skips>
  </sqloogleBot>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
