<?xml version="1.0" encoding="utf-8" ?>

<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/nlog/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/WebService.log" layout="${date:format=HH\:mm\:ss} | ${level} | ${logger} | ${message}" />
    <!--<target name="mail" xsi:type="Mail" smtpServer="" from="" subject="" to="" />-->
    <target name="trace" xsi:type="Trace" layout="${date:format=HH\:mm\:ss} | ${level} | ${logger} | ${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} | ${logger} | ${message}"/>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <!--<logger name="*" minlevel="Error" writeTo="mail" />-->
  </rules>
  
</nlog>
